.planir {
    padding: 100px 0;
    padding-bottom: 134px;

    &_linia {
        color: var(#000);
        font-family: 'Montserrat';
        font-size: 16px;
        font-style: normal;
        font-weight: 500;
        line-height: 150%;
        text-transform: uppercase;
        margin-bottom: 30px;
        position: relative;

        &::after {
            position: absolute;
            content: '';
            top: 150px;
            right: 0;
            width: 400px;
            height: 2px;
            background: #000;
        }
    }

    &_grid {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(2, 643px);
        justify-content: center;


        &_img {
            height: 340px;
            width: 380px;
        }

        &_h {
            color: #000;
            font-family: Montserrat;
            font-size: 24px;
            font-style: normal;
            font-weight: 500;
            line-height: 150%;
            text-transform: uppercase;
            margin-top: 31px;
            margin-bottom: 11px;
        }

        &_p {
            color: #9C9C9C;
            font-family: Montserrat;
            font-size: 18px;
            font-style: normal;
            font-weight: 400;
            line-height: 120%;
            margin-bottom: 53px;
            width: 332px;
        }

        &_button {
            display: inline-flex;
            padding: 14px 34px 14px 32px;
            align-items: flex-start;
            gap: 10px;
            background: var(#2C3878);
            width: 187px;
            height: 49px;
            border: none;


            &_a {
                color: var(#FFF);
                font-family: Montserrat;
                font-size: 14px;
                font-style: normal;
                font-weight: 500;
                line-height: 150%;
                width: 121px;
                justify-content: center;
            }

            &:hover {
                background-color: #2C3878;
                transform: scale(1.1);
            }

            &:active {
                transform: scale(0.9);
            }

        }

        &_1,
        &_2,
        &_3,
        &_4,
        &_5 {
            display: flex;
            flex-direction: column;
        }

        &_1 {
            grid-column: 1 / 2;
            grid-row: 1 / 2;

        }

        &_2 {
            grid-column: 2 / 3;
            grid-row: 1 / 2;
        }

        &_3 {
            grid-column: 3 / 4;
            grid-row: 1 / 2;
        }

        &_4 {
            grid-column: 1 / 2;
            grid-row: 2 / 3;
        }

        &_5 {
            grid-column: 2 / 3;
            grid-row: 2 / 3;
        }

    }


}

@media screen and (max-width: 1279px) and (min-width: 768px) {
    .planir {
        height: 2150px;

        &_grid {
            grid-template-columns: repeat(2, 1fr);
            grid-template-rows: repeat(3, 643px);
            justify-content: space-between;
            width: 100%;

            &_img {
                width: 350px;
                height: 314px;
            }

            &_1 {
                grid-column: 1 / 2;
                grid-row: 1 / 2;

            }

            &_2 {
                grid-column: 2 / 3;
                grid-row: 1 / 2;
            }

            &_3 {
                grid-column: 1 / 2;
                grid-row: 2 / 3;
            }

            &_4 {
                grid-column: 2 / 3;
                grid-row: 2 / 3;
            }

            &_5 {
                grid-column: 1 / 2;
                grid-row: 3 / 4;
            }
        }
    }
}

@media screen and (max-width: 767px) {
    .planir_grid {
        width: 100%;
        display: flex;
        flex-direction: column;
        &_1{
            order: 1;
            margin-bottom: 31px;
        }
        &_2{
            order: 2;
            margin-bottom: 31px;
        }
        &_3{
            order: 3;
            margin-bottom: 31px;
        }
        &_4{
            order: 4;
            margin-bottom: 31px;
        }
        &_5{
            order: 5;
        }
    }
}